

body {
background-color:white;
color:rgb(5, 118, 204);

}
.container {
    
  
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        height: 300px;
        justify-content: center;
        width:auto;
       
     
}

 
.introduction{
    text-align: center;
    margin: 40%;
    
}



.MonPremierTitre{
    text-align: center;
    margin-top: 20%;
    font-family:cursive;
    font-size:10em;
}

h2{
    margin-top: 30%;
    text-align: center;
    font-size: 20%;
    margin-bottom:20%;
    
    
}
.box {

    margin-top:10px;
}


.Paragraphe {
    margin-top:20%;
    font-size:;
}

.picture1 {

    display:;
}


	
  
}
    
.picture5 img {
	width: 400px;
	height: 100px;
	
	
}
.Taj{
	position: relative;
	right:20px;
	top:50px;
	width: 100%;
		
}
.Description3{
text-align: center;
margin-top:40px;
}


	
	
#Titre-principale {
	font-family:cursive;
	text-align: center;
	margin-top: 30%;
  color:rgb(45, 69, 204);
  animation: clignote 2s linear infinite;
}
@keyframes clignote {  
  40% { opacity: 0; }
}


h1 {
    font-size: 30px;
}

h2 {
        font-size: 22px;
        text-shadow:#ff006e 2.5px 2.5px 0,
#8338ec 5px 5px 0,
#3a86ff 7.5px 7.5px 0,
#333 10px 10px 10px;color:#ffcc00;
background-color:#2E8ECE;
}
.introduction {
    font-size: 24px;
    text-align: center;
}
.Paragraphe{
    text-align: center;
}

.picture3{

    display: flex;
    align-items: flex-end;
    
    
    }
    
    .picture3 img {
       width: 100%;
       margin-left: 30%;
         
        
        
    }
    .muraille{
        position: relative;
        left:40px;
        top:170px;
        width: 100%;
        	
}

.Description1{
	text-align: justify;
	margin-top: 30%;
}

.picture4{

    display: flex;
    
    }
    
    .picture4 img {
        width: 400px;
        height: 100px;
        
        
    }
    .Incas{
        position: relative;
        right:20px;
        top:50px;
        width: 100%;
        	
}
.Description2{
    text-align: center;
    margin-top:70px;
}

.picture5{

    display: flex;
}

.picture0{
 width:10%;
}
  

